
<nav class="main-navbar">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'department_list' %}" class="nav-link">Departments</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'doctor_list' %}" class="nav-link">Doctors</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'patient_list' %}" class="nav-link">Patients</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'changepassword' %}" class="nav-link">Change Password</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link logout">Logout</a>
        </li>
    </ul>
</nav>
